<div class="swiper mySwiper">
	<div class="swiper-wrapper">
		<div class="swiper-slide"><img src="{{asset('build/images/ban-telephone.jpg')}}" alt="pub de telephone"></div>
		<div class="swiper-slide"><img src="{{asset('build/images/ban-laptop.jpg')}}" alt="pub de ordinateur"></div>
		<div class="swiper-slide"><img src="{{asset('build/images/ban-tablette.png')}}" alt="pub de tablette"></div>
	</div>
	<div class="swiper-button-next"></div>
	<div class="swiper-button-prev"></div>
	<div class="swiper-pagination"></div>
</div>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
