<div class="swiper mySwiper">
	<div class="swiper-wrapper">
		<div class="swiper-slide"><img src="{{asset('build/images/lac-mountain.jpg')}}" alt="lac de montagne"></div>
		<div class="swiper-slide"><img src="{{asset('build/images/lac-seul.jpg')}}" alt="lac de montagne"></div>
		<div class="swiper-slide"><img src="{{asset('build/images/mountain-landscape-g71f619bda_1920.jpg')}}" alt="lac de montagne"></div>
		<div class="swiper-slide"><img src="{{asset('build/images/neige-trace.jpeg')}}" alt="lac de montagne"></div>
	</div>
	<div class="swiper-button-next"></div>
	<div class="swiper-button-prev"></div>
	<div class="swiper-pagination"></div>
</div>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
