.container-login {
    width: 60%;
    margin: auto;
}
.block-title {
    @include flexbox(space-between, center, wrap, 1em);

    h1 {
        margin-left: 2em;
    }

    p {
        margin-right: 2em;
    }
}

.form {
    border: 1px solid $text-color;
    border-radius: $border-radius;
    background-color: $primary;

    &-row {
        @include flexbox(flex-start, center, wrap, 1em);
        margin: 2em 1em;

        &-midle {
            width: 45%;

            & > div{
                margin-bottom: 1em;
                display: grid;
                grid-template-columns: 25% 70%;
                gap: 1em;
            }
        }

        &-password {
            @include flexbox();
            margin: 2em 1em;

            & > div{
                margin-bottom: 1em;
                display: grid;
                grid-template-columns: 20% 70%;
                gap: 1em;
                width: 45%;
            }
        }

        &-login {
            @include flexbox(center, center, wrap, 3em);
            margin: 2em 1em;
        }
    }

    &-email {
        margin: 2em 1em;

        & > div{
            margin-bottom: 1em;
            display: grid;
            grid-template-columns: 20% 70%;
            gap: 1em;
            width: 45%;
        }
    }
}

.vich-image > a > img {
    width: 100%;
    margin-top: 1em;
}
.row {
    @include flexbox(flex-start, center, wrap, 1em);

    &-4 {
        width: 20%;
    }
}
input {
    border: 1px solid $text-color;
    border-radius: $border-radius;
    text-align: center;
}

button {
    font-size: 1.5em;
}

.select-roles > div {
    @include flexbox(center, center, wrap, 2em);
}

#user_roles {
    text-align: center;
    font-size: 1em;
    margin: 2em 0;
    padding: 0.5em;
    border-radius: $border-radius;
}

option {
    margin: 4px;
}