{{ form_start(form, {'attr': {'class': 'mt-4 form-filter'}}) }}
<h2 class="text-center mt-4">Rechercher par :
</h2>


<h3 class="mt-2 ml-2">Marques :
</h3>


{{ form_row(form.marques) }}


<div class="text-center">
	<button class="btn btn-primary mb-4" type="submit">Rechercher</button>
</div>

{{ form_end(form) }}
