{% extends 'base.html.twig' %}

{% block title %}
	Création d'un article Téléphone
	{{ parent() }}
{% endblock %}

{% block body %}
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<div>
		<button type="submit" class="btn btn-primary">Créer</button>
	</div>
	{{ form_end(form) }}
{% endblock %}
