{% extends 'base.html.twig' %}

{% block title %}
	Données Personnelles
	{{ parent() }}
{% endblock %}
{% block body %}
	<section class="container">
		<h1 class="text-center mb-4 mt-4">Utilisation des cookies</h1>
		<p>Ces données peuvent être utilisées dans un but statistique afin de procéder à des analyses de fréquentation du Site. Le site Extellient collecte diverses données grâce à l’utilisation des cookies, relatives notamment aux caractéristiques du système d’exploitation, du navigateur ou du terminal (ordinateur, tablette ou téléphone mobile) que vous utilisez, des données relatives à votre localisation ou encore des données relatives à vos différentes interactions avec le contenu de Extellient.</p>
		<p>Lors de votre navigation sur le site Extellient, vous acceptez de recevoir des cookies et la présente utilisation des cookies. Un cookie ne permet pas de vous identifier personnellement. En revanche, il enregistre des informations relatives à la navigation de votre ordinateur sur le site (les pages que vous avez consultées, la date et l’heure de la consultation, etc.) qu’Extellient pourra lire lors de vos visites ultérieures. La durée de conservation des « Cookies » utilisés par Extellient est de six mois maximum.</p>
		<p>Nous vous informons que le paramétrage de votre logiciel de navigation permet d’indiquer la présence de « Cookies » et que vous pouvez vous opposer à l’enregistrement de ceux-ci.</p>
		<p>Ces informations de navigation sont collectées via des cookies ou d’autres dispositifs similaires, tels que des « pixels tags ». Un cookie est un petit fichier déposé sur votre ordinateur lorsque vous naviguez sur un site. Ils ont une durée de vie limitée. Les cookies ne peuvent conserver que du texte, qui est toujours confidentiel et dans la plupart des cas crypté. Ces cookies permettent donc de vous identifier à chacune de vos visites et ainsi aident à l’amélioration de votre expérience utilisateur en vous proposant des services plus appropriés à vos besoins. En utilisant nos services, vous acceptez de recevoir des cookies et la présente Politique des cookies.</p>
		<p>Vous pouvez refuser ou limiter nos cookies en paramétrant votre navigateur conformément à ce qui est précisé à la rubrique « Comment désactiver vos cookies ».</p>
	</section>
{% endblock %}
