.navbar {
    background: $primary;
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 1em 0;

    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-left {
        display: flex;
        align-items: center;
        gap: 3em;
    }

    &-item {
        display: flex;
        gap: 6em;
        font-size: 2em;
    }

    &_brand {
        font-weight: bold;
        font-size: 1.4em;
        margin-right: 1.5em;
    }

    &-link {
        font-family: $font-primary;

        &:hover {
            color: $secondary;
        }
    }

    &-btn {
        display: flex;
        align-items: center;
        gap: 1em;
    }
}

.dropdown {
    position: relative;
    display: inline-block;

    &-link {
        color: $primary;
        transition: all 0.4s ease-in-out;

        &:hover {
            background: $secondary;
        }

        &:hover:last-child {
            border-radius: 0 0 15px 15px;
        }

        &:hover:first-child {
            border-radius: 15px 15px 0 0;
        }
    }

    &-content{
        display: none;
        position: absolute;
        border-radius: 15px;
        background: $tertiary;
        z-index: 999;
        top: 100%;
        left: 0;
        transition: all 0.4s ease-in-out;
    }

    &-content > * {
        padding: .6em 1em;
        width: 76%;
        text-align: center;
    }

    &-content > *:not(:last-child) {
        border-bottom: 1px solid grey;
    }

    &:hover {
        .dropdown-content {
            display: block;
        }
    }
}

span {
    color: $primary;
    padding: 0.8em 2em;
    background: $tertiary;
    border-radius: $border-radius;
    transition: all 0.4s ease-in-out;

    &:hover {
        background: $secondary;
    }
}