// Color
$primary: #1b2731;
$secondary: #f8c557;
$tertiary: #252c33;

$text-color: #777777;
$grey: #888;
$grey-light: #bdbdbd;
$grey-aside: #ececec;
$white: #f5f5f5;
$dark-blue: #0b2864;
$grey-banner: #fcfcfd;
$heading: #48455a;