<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width"/>
		{% block metaDesc %}<meta name="description" content="site de vente high tech"/>
		{% endblock %}
		<title>
			{% block title %}
				| High Tech Cheap
			{% endblock %}
		</title>
		<link rel="icon" href="{{asset('build/images/logo.1.ico')}}">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% include 'Layout/header.html.twig' %}
		{% include 'Layout/messages.html.twig' %}
		{% block body %}{% endblock %}
		{% include 'Layout/footer.html.twig' %}
	</body>
</html>
