<div class="block-card" id="marque-{{ marque.id }}" data-aos="fade-up" data-aos-offset="200" data-aos-duration="800" data-aos-easing="ease-in-out" data-aos-mirror="false" data-aos-once="false" data-aos-anchor-placement="bottom">
	<div class="block-card-content">
		<p>Marque :
			{{ marque.nom }}</p>

		{% if app.request.get('_route') == 'admin.marque.index' %}
			<div class="block-card-button">
				<a href="{{ path('admin.marque.edit', {id: marque.id}) }}" class="btn btn-secondary">Modifier</a>
				{% include 'Backend/Marques/_deleteForm.html.twig' %}
			</div>
		{% endif %}
	</div>
</div>
