<div>
	<h2 class="text-center mt-3 mb-3">{{ telephone.nom }}</h2>
	<div>

		<p>{{ telephone.description }}</p>
		<p>prix :
			{{ telephone.prix }}€</p>
		<p>quantité :
			{{ telephone.quantity }}</p>
	</div>
</div>
