.block-carte {
    @include flexbox(start, start, wrap, 2em);
    border: 1px solid $text-color;
    border-radius: $border-radius;

    iframe {
        width: 45%;
    }

    &-content {
        @include flexbox(space-between, start, wrap, 2em);
        width: 45%;
    }
}