<header class="navbar">
	<nav class="container navbar-content">
		<div class="navbar-left">
			<a href="/"><img src="/assets/image/logo.svg" alt="logo"></a>
			<ul class="navbar-nav">
				<li class="navbar-item">
					<a href="/" class="navbar-link">Acceuil</a>
				</li>
			</ul>
		</div>
		<div class="navbar-right">
			<ul class="navbar-nav">
				<li class="navbar-item">
					<a href="/" class="navbar-link">Téléphones</a>
					<a href="/" class="navbar-link">Tablettes</a>
					<a href="/" class="navbar-link">Ordinateurs</a>
					<a href="/contact.php" class="navbar-link">Contact</a>
				</li>
			</ul>
		</div>
		<div class="navbar-btn">
			{% if app.user %}
				{% if is_granted('ROLE_ADMIN') %}
					<a href="#">Articles</a>
				{% endif %}
				<a href="{{ path('app.logout') }}">Se deconnecter</a>
			{% else %}
				<a href="{{ path('app.login')}}">Se connecter
				</a>
			{% endif %}
		</div>

	</nav>
</header>
